# Directorios EPG EBM
EBM_DIR="/opt/ebmrx/ebm"
EPGC_DIR=""
#EPGU_DIR="prguepgu01 prmiepgu01"
EPGU_DIR="prmiepgu01"
TOOL_DIR="/opt/ebmrx/tool"

# Directorios proceso
HOME_PROC_DIR=$HOME/dpi_report
EPG_OUT_DIR=$HOME_PROC_DIR/txt
EPG_TMP_DIR=$HOME_PROC_DIR/temp
AWK_DIR=$HOME_PROC_DIR/awk
SHELL_DIR=$HOME_PROC_DIR/shell
BIN_DIR=$HOME_PROC_DIR/bin
HIST_DIR=$HOME_PROC_DIR/hist
TXT_DIR=$HOME_PROC_DIR/txt

# MySQL
HOST=192.168.1.3
PORT=7075
USER=root
PASS=allware123
DB=liberty
